<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit article</title>
</head>
<body style="text-align: left; font-family: sans-serif">
<h3>Редактирование статьи</h3>
<hr>

<div>
    <form th:method="post" th:action="@{~/api/v1/articles/{id}(id=${article.id})}" th:object="${article}">
        <label for="title">Заголовок: </label>
        <input type="text" id="title" th:value="${article.title}" th:name="title">
        <br/>

        <label for="body">Очерк: </label>
        <!--    <input type="text" id="body" th:value="${article.body}" th:name="body">-->
        <textarea name="body" id="body" th:text="${article.body}" th:name="body"></textarea>
        <br/>

        <input type="submit" name="_action" value="update">
    </form>
</div>

<div>
    <form th:method="post" th:action="@{~/api/v1/articles/{id}(id=${article.id})}">
        <p>
            <input type="submit" name="_action" value="delete">
        </p>
    </form>
</div>

<hr>
<p>
    <a href="/api/v1/articles">Главная</a>
</p>
</body>
</html>
