<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Kotlin Journal</title>
</head>
<body style="text-align: center; font-family: sans-serif">
<h3><i>Список статей</i></h3>
<hr>

<span th:if="${articles.isEmpty()}">Список пуст!</span>

<div th:each="article, iterStat: ${articles}">
     <a th:href="@{articles/{id}(id=${article.id})}"
       th:text="${iterStat.index+1} + '. ' + ${article.title} + ', ' + ${article.body}">article</a>
</div>

<hr>
<p>
    <a th:href="@{articles/new}">Новая</a>
</p>
</body>
</html>
