<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>New article</title>
</head>
<body style="text-align: left; font-family: sans-serif">
<h3>Новая статья</h3>
<hr>

<form th:method="post" th:action="@{~/api/v1/articles/new}" th:object="${article}">
    <label for="title">Заголовок: </label>
    <input type="text" id="title" th:name="title">
    <br/>

    <label for="body">Очерк: </label>
<!--    <input type="text" id="body" th:name="body" placeholder="body">-->
    <textarea name="body" id="body" th:name="body"></textarea>
    <br/>

    <input type="submit" value="new">
</form>


<hr>
<p>
    <a href="/api/v1/articles">Главная</a>
</p>
</body>
</html>
