<head th:replace="~{fragments/layout :: headerFragment}">
    <title id="pageTitle">Edit person</title>
</head>

<body style="text-align: left; font-family: sans-serif">
<h3 class="text-center">Редактирование данных</h3>
<hr>

<div class="container">
    <form th:replace="~{fragments/formPerson ::formFragment(url=@{~/api/v1/people/{id}(id=${person.id})})}">
    </form>
</div>

<div th:insert="~{fragments/layout :: copyright}"></div>
<th:block th:insert="~{fragments/layout :: script}"></th:block>
</body>
</html>