<head th:replace="~{fragments/layout :: headerFragment}">
    <title id="pageTitle">Edit person</title>
</head>

<body style="text-align: left; font-family: sans-serif">
<h3 class="text-center">Информация</h3>
<hr>

<div class="container">
    <div>
        <h4 th:text="${person.lastName}">First Name</h4>
        <p th:text="${person.firstName}">Last Name</p>
        <p th:text="${person.dateOfBirth}">Date of birth</p>
    </div>
        <hr>
    <div>
        <a th:href="@{~/api/v1/people}" class="btn btn-secondary btn-sm mb-3">Back</a>
    </div>
</div>

<div th:insert="~{fragments/layout :: copyright}"></div>
<th:block th:insert="~{fragments/layout :: script}"></th:block>
</body>
</html>